.gallery{
	background-color: #000;
/* 	-webkit-box-shadow:0px -15px 18px 14px rgba(255,196,69,0.85); */
/* 	-moz-box-shadow: 0px -15px 18px 14px rgba(255,196,69,0.85); */
/* 	box-shadow: 0px -15px 18px 14px rgba(255,196,69,0.85); */
	box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

h1.tituloMuseo {
	font-size: 50px;
	line-height: 50px;
	text-shadow: 0 0 5px #ffa500
		, 0 0 15px #ffa500
		, 0 0 20px #ffa500
		, 0 0 40px #ffa500
		, 0 0 60px #ff0000
		, 0 0 10px #ff8d00
		, 0 0 98px #ff0000;
	color: #fff6a9;
	text-align: center;
	animation: blink 12s infinite;
}

@keyframes blink {
	20%,
	24%,
	55% {
		color: #111;
		text-shadow: none;
	}
	
	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: 
			0 0 5px #ffa500
			, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.item{
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: box-shadow 1s;
	animation-name: itemMuseoBlink;
	animation-duration: 5s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	opacity: 0;
	cursor: pointer;
}

.item img{
	width: auto;
	height: 100%;
	filter: grayscale(100%);
	box-shadow: 0px 0px 0px 0px #000;
	transition: filter 2s;
/* 	box-shadow: 0px 0px 55px 5px #F5B04144; */
}

.item img:hover{
	filter: grayscale(0%);
}

.item:hover{
	box-shadow: 0px 0px 30px 20px #ff000044
	, 0px 0px 0px 1px #ffc400 
	, 0px 0px 30px 5px #FFC30022 
	, 0px 0px 6px 5px #FFC30022
	, 0px 0px 13px 5px  #ffd65033
	, 0px 0px 5px 5px #ffd240d8;
}

.img01{ grid-area: 1 / 1 / 3 / 2; }
.img02{ grid-area: 3 / 1 / 4 / 2; }
.img03{ grid-area: 1 / 2 / 4 / 4; }
.img04{ grid-area: 1 / 4 / 2 / 6; }
.img05{ grid-area: 2 / 4 / 3 / 6; }
.img06{ grid-area: 3 / 4 / 4 / 6; }
.img07{ grid-area: 1 / 6 / 3 / 9; }
.img08{ grid-area: 3 / 6 / 4 / 7; }
.img09{ grid-area: 3 / 7 / 4 / 9; }
.img10{ grid-area: 1 / 9 / 3 / 10; }
.img11{ grid-area: 3 / 9 / 4 / 10; }
.img12{ grid-area: 1 / 10 / 4 / 11; }

.my-modal {
	width: 90vw;/* Occupy the 90% of the screen width */
	max-width: 90vw;
} 

.item.img01, .item.img02{ animation-delay: 0s; }
.item.img03{ animation-delay: 0.5s; }
.item.img04, .item.img05, .item.img06{ animation-delay: 1.0s; }
.item.img07, .item.img08{ animation-delay: 1.5s; }
.item.img09{ animation-delay: 2.0s; }
.item.img10, .item.img11{ animation-delay: 2.5s; }
.item.img12{ animation-delay: 3.0s; }

@keyframes itemMuseoBlink {
	20%,
	24%,
	55% {
		opacity: 0;
	}
	
	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		opacity: 1;
	}
}

.imgModalItem{
	transform: scale(1);
	transition: transform 1s;
}

.imgModalItem:hover{
	transform: scale(1.5);

}