.bgPerfil{
	background-color: #FFF;
}

.profile-background{
	background: #0004;
}

.profile-card-info{
	background: #000a;
	border: 1px solid #000a;
}

.profile-card-menu{
	background: #0000;
	height: 100%;
	width: 100%;
}

.profile-card-item{
	background: #0002;
}

img.icon-profile-png-title{
	height: 20px;
	margin: 0px 5px;
}

img.icon-profile-png{
	height: 15px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.icon-profile-text-input{
	margin-bottom: 0px;
	width: 170px;
	padding-bottom: 0px;
	padding-top: 0px;
}

/* Tab favoritos */

.btnTabFav.nav-link.active{
	background: #0004;
	transition: background 0.5s;
}

/* Tab favoritos */

.tab-bg-dark{
	background-color: #0004; 
	border-radius: 0px;
}

.imgIconFav{
	width: 30px;
	height: 30px;
	transition: width 1s, height 1s;
	transition-timing-function: ease;
}

.nav-link.btnFav{
	background: #0000;
	transition: background 1s;
}

.nav-link.active.btnFav{
	background: #FFD700;
}

.imgIconFav:hover{
	width: 50px;
	height:50px;
}

.nav-link.active .imgIconFav{
	width: 70px;
	height:70px;
}

/* Skill tree */

.baseIconSkill{
	cursor: pointer;
}

.iconBgSkillSpecial{
	width: 40px;
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-top: #FFF 1px solid;
	border-right: #FFF 1px solid;
	background-color: #E60012;
}
.iconBgSkillPlatinum{
	width: 40px;
	border-bottom: #696264 1px solid;
	border-left: #696264 1px solid;
	border-top: #FFF 1px solid;
	border-right: #FFF 1px solid;
	background-color: #FFD700;
}
.iconBgSkillGolden{
	width: 40px;
	border-bottom: #DAA520 2px solid;
	border-left: #DAA520 2px solid;
	border-top: #FFF 2px solid;
	border-right: #FFF 2px solid;
	background-color: #FFD700;
	border-radius: 2px;
}
.iconBgSkillSilver{
	width: 40px;
	border-bottom: #7B7B7B 2px solid;
	border-left: #7B7B7B 2px solid;
	border-top: #FFF 2px solid;
	border-right: #FFF 2px solid;
	background-color: #C0C0C0;
	border-radius: 2px;
}
.iconBgSkill{
	width: 40px;
	border-bottom: #888 2px solid;
	border-left: #888 2px solid;
	border-top: #FFF 2px solid;
	border-right: #FFF 2px solid;
	background-color: #FFF;
	border-radius: 2px;
}

.bgSkillSpecial{
	background-color: #E60012;
}
.bgSkillPlatinum{
	background-color: #7F7679;
}
.bgSkillGolden{
	background-color: #FFD700;
}
.bgSkillSilver{
	background-color: #C0C0C0;
}
.bgSkill{
	background-color: #FFF;
}

.iconSkill{
	width: 25px;
	height: 25px;
}

/* Tab Galeria */

.tagDiv{
	width: min-content;
	max-width: 80px; 
	margin: 2px 2px;
	padding: 0.35em 0.65em;
	border: 1px solid #000;
	border-radius: 0.25rem;
	font-size: 7px;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	line-height: 1;
}

.drawGallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
/* 	height: 100%; */
}

.imgContainer.h{
	width: 100%;
	height: 190px;
	display: flex;
	justify-content: center;
	background-color: #0004;
	overflow: hidden;
	cursor: pointer;
}

.imgContainer.h img{
	width: auto;
	height: 100%;
	/* 	margin-left: -50%; */
	filter: grayscale(100%);
	transition: filter 0.4s, transform 0.5s;
}

.imgContainer.h:hover img{
	transform: scale(1.1);
	filter: grayscale(0%);
}

.imgContainer.v{
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: center;
	background-color: #0004;
	overflow: hidden;
	cursor: pointer;
}

.imgContainer.v img{
	width: auto;
	height: 100%;
	/* 	margin-left: -50%; */
	filter: grayscale(100%);
	transition: filter 0.4s, transform 0.5s;
}

.imgContainer.v:hover img{
	transform: scale(1.1);
	filter: grayscale(0%);
}

/* Tab VideoJuegos*/

.imgGame{
/* 	display: inline-block; */
	display: flex;
	justify-content: center;
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50% ;
	left: 10px;
	box-shadow: 2px 0px 5px #000;
	z-index:3;
}

.imgGame img{
	width: auto;
	height: 100%;
	filter: grayscale(100%);
	transition: filter 1s;
}

.imgGame:hover img{
	filter: grayscale(0%);
}


/* Tab Anime */

.flip-card {
	background-color: transparent;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
	position: relative;
	min-height: 170px;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
	backface-visibility: hidden;
}

.flip-card-front {
	color: black;
	left: 25%;
	display: flex;
	width: 115px;
	justify-content: center;
/* 	align-self: stretch; */
	overflow: hidden;
	box-shadow: 0px 0px 0px 2px #FFD700, 0px 0px 20px 4px #FFF;
}

.flip-card-front img{
	object-fit: cover;
	width: auto;
	height: 100%;
	min-height: 170px;
	background: transparent no-repeat center;
	background-size: cover;
/* 	flex: 1; */
}

.flip-card-back {
	transform: rotateY(180deg);
	left: -25%;
	display: inline-block;
	width: 115px;
	box-shadow: 0px 0px 0px 2px #FFD700, 0px 0px 20px #FFF;
}

.iconPaises{
	margin-left: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	border-radius: 5px
}

.tagDivSerie{
	width: min-content;
	max-width: 80px; 
	margin: 2px 2px;
	padding: 0.35em 0.65em;
	border: 1px solid #000;
	border-radius: 0.25rem;
	font-size: 6px;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	line-height: 1;
}

/* musica */

.song{
	height: 160px;
	width: 240px;
}

.album{
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	z-index: 3;
	position: relative;
	left: 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px 0px #000;
}

.disco{
	display: inline-block;
	width: 110px;
	height: 110px;
/* 	border: 5px solid #000; */
	box-shadow: 0px 0px 0px 2px #000
		,0px 0px 0px 4px #444
		,0px 0px 0px 6px #000
		,0px 0px 0px 8px #444
		,0px 0px 0px 10px #000
		,0px 0px 0px 12px #444
		,0px 0px 0px 14px #000
		,0px 0px 0px 16px #FFD700
		,0px 0px 10px 16px #000; 
	border-radius: 50%;
	position: relative;
	top: -130px;
	left: 60px;
	transition: left 1s;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.disco img{
	width: auto;
	height: 100%;
}

.song:hover .disco{
	left: 110px;
	animation: discoMove 1s infinite;
}

@keyframes discoMove {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.gradoCarta{
	position: fixed;
	z-index: 3; 
	top: 0px; 
	background-color: #0008;
	padding: 5px;
	border: 1px solid #FFD700;
	border-radius: 5px;
	font-weight: 900;
	color: #FFD700;
}

.footerCarta{
	position: fixed;
	z-index: 3;
	width: 50%;
	bottom: 0px; 
	background-color: #0008;
	padding: 5px;
	border: 1px solid #FFD700;
	border-radius: 5px;
	font-weight: 700;
	color: #FFD700;
	text-align: center;
}

#menuPanel{
	background-color: #0000;
}

#menuPanel .nav-item{
	animation-name: menuItem;
	animation-duration: 5s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	background-color: #0000;
}

#menuPanel .nav-item:nth-child(1){animation-delay: 1s;}

#menuPanel .nav-item:nth-child(2){animation-delay: 1.2s;}

#menuPanel .nav-item:nth-child(3){animation-delay: 1.4s;}

#menuPanel .nav-item:nth-child(4){animation-delay: 1.6s;}

#menuPanel .nav-item:nth-child(5){animation-delay: 1.8s;}

@keyframes menuItem {
	0%   {background-color: #0000;}
	30%  {background-color: #0002;}
	70%  {background-color: #0004;}
	100% {background-color: #0006;}
}
